.auyt {
  font-family: "Annie Use Your Telescope", cursive;
  font-weight: 400;
  font-style: normal;
}

.pangolin {
  font-family: "Pangolin", cursive;
  font-weight: 400;
  font-style: normal;
}

.nycd {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 400;
  font-style: normal;
}

.nycd-big {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 800;
  font-style: normal;
  font-size: 1.5rem;
}

.zain {
  font-family: "Zain", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.6rem;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url("../images/flower-garden-sky.png") center center/cover no-repeat;
}

.flowergarden-banner {
    position:absolute; background:rgba(0,0,0,0);;
}

.flowergarden-background {
    background: url("../images/flower-garden-bg2.png") center center/cover no-repeat; 
    min-height: 500px; max-height: 500px; position: relative;
    padding: 8rem 0;
    margin-top: -1.5rem;
}

.nav-item {
  font-size: 1.5rem;;
}

.logo-img {
   height: 70px; width: auto; display: block; padding-left:0; margin-left:0;
}
.pink {
  color: #d2b6e5;
}

.navbar {
  margin-bottom: 0;
  background-color: #f9eedd;
  box-shadow: none;
  border: none;
}

.card {
  background-color: #f9eedd;
}

.footer-bg {
  background-color: #f9eedd;
}

footer {
  margin-top: auto;
}

.blockquote {
  color: #d2b6e5;
}

.blockquote-footer {
  color: white;
}

.community-stories-container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-height: 450px;
}

.stories-hero {
  background: url("../images/flower-garden-bg.png") center center/cover no-repeat;
  min-height: 500px; max-height: 500px; position: relative;
  padding: 8rem 0;
  margin-top: -1.5rem;
}

.story-button {
  background-color:#d2b6e5; border:none; color:#3d2c4a;
}

.link-pink {
  color: #8032b4;
}

.counselling-hero {
  background: url("../images/flower-garden-bg3.png") center center/cover no-repeat;
  min-height: 500px; max-height: 500px; position: relative;
  padding: 8rem 0;
  margin-top: -1.5rem;
}

.about-hero {
  background: url("../images/flower-garden-bg6.png") center center/cover no-repeat;
  min-height: 500px; max-height: 500px; position: relative;
  padding: 8rem 0;
  margin-top: -1.5rem;
}

.navbar-nav {
  align-items: end;
  padding-right: 2rem;
}

@media screen and (max-width: 768px) {
  .flowergarden-background {
    align-items: center; text-align: center;
    padding-top: 5.7rem;
  }
}